In [86]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib as mpl
import plotnine as p9

plt.style.use('ggplot') # set the theme for plots
mpl.rcParams['figure.figsize'] = (10,8)
datadir = "./CollegeScorecard_Raw_Data_03142022"

import warnings
warnings.filterwarnings('ignore')

In [103]:
# read in the 2009 data
COL = pd.read_csv(datadir + '/Most-Recent-Cohorts-Institution.csv')
COL = COL.replace("PrivacySuppressed", np.nan)

In [126]:
interest = ["UNITID","OPEID","OPEID6","INSTNM","CITY",            
            "STABBR",             
            "ZIP",                
            "MAIN",               
            "NUMBRANCH",          
            "PREDDEG",            
            "HIGHDEG",            
            "CONTROL",            
            "ST_FIPS",            
            "REGION",            
            "ADM_RATE",          
            "UGDS",               
            "TUITIONFEE_IN",      
            "TUITIONFEE_OUT",     
            "MN_EARN_WNE_P10",    
            "ICLEVEL"]

In [142]:
df = COL[interest]
df['MN_EARN_WNE_P10'] = df['MN_EARN_WNE_P10'].astype(float)

In [145]:
df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,ADM_RATE,UGDS,TUITIONFEE_IN,TUITIONFEE_OUT,MN_EARN_WNE_P10,ICLEVEL
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,1,1,3,4,1,1,5,0.9175,5271.0,10024.0,18634.0,35500.0,1
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,1,1,3,4,1,1,5,0.7366,13328.0,8568.0,20400.0,48400.0,1
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,1,1,2,4,2,1,5,NaN,365.0,6950.0,6950.0,47600.0,1
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,1,1,3,4,1,1,5,0.8257,7785.0,11122.0,23518.0,52000.0,1
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,1,1,3,4,1,1,5,0.9690,3750.0,11068.0,19396.0,30600.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6689,48511113,157115,1571,Georgia Military College - Eastman,Eastman,GA,310236109,0,14,0,0,1,13,5,NaN,NaN,6165.0,NaN,NaN,1
6690,48616901,4204801,42048,American College of Barbering - Florence,Florence,KY,410421801,0,2,0,0,3,21,5,NaN,NaN,NaN,NaN,NaN,3
6691,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,0,2,0,0,3,12,5,NaN,NaN,19404.0,NaN,NaN,2
6692,49146401,4227001,42270,ABC Adult School - Cabrillo Lane,Cerritos,CA,907037748,0,2,0,0,1,6,8,NaN,NaN,NaN,NaN,NaN,3
6693,49175601,4270001,42700,Urban Barber College - San Jose,San Jose,CA,95133,0,2,0,0,3,6,8,NaN,NaN,NaN,NaN,NaN,3

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6694 entries, 0 to 6693
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UNITID           6694 non-null   int64
 1   OPEID            6694 non-null   int64
 2   OPEID6           6694 non-null   int64
 3   INSTNM           6694 non-null   object
 4   CITY             6694 non-null   object
 5   STABBR           6694 non-null   object
 6   ZIP              6694 non-null   object
 7   MAIN             6694 non-null   int64
 8   NUMBRANCH        6694 non-null   int64
 9   PREDDEG          6694 non-null   int64
 10  HIGHDEG          6694 non-null   int64
 11  CONTROL          6694 non-null   int64
 12  ST_FIPS          6694 non-null   int64
 13  REGION           6694 non-null   int64
 14  ADM_RATE         1988 non-null   float64
 15  UGDS             5902 non-null   float64
 16  TUITIONFEE_IN    3836 non-null   float64
 17  TUITIONFEE_OUT   3574 non-null   float64
 18  MN_EARN_WNE_P10  4649 non-null   float64
 19  ICLEVEL          6694 non-null   int64
dtypes: float64(5), int64(11), object(4)
memory usage: 1.0+ MB

In [143]:
df_new = df.fillna(df.mean())

In [144]:
df_new

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,ADM_RATE,UGDS,TUITIONFEE_IN,TUITIONFEE_OUT,MN_EARN_WNE_P10,ICLEVEL
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,1,1,3,4,1,1,5,0.917500,5271.000000,10024.000000,18634.000000,35500.000000,1
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,1,1,3,4,1,1,5,0.736600,13328.000000,8568.000000,20400.000000,48400.000000,1
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,1,1,2,4,2,1,5,0.689655,365.000000,6950.000000,6950.000000,47600.000000,1
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,1,1,3,4,1,1,5,0.825700,7785.000000,11122.000000,23518.000000,52000.000000,1
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,1,1,3,4,1,1,5,0.969000,3750.000000,11068.000000,19396.000000,30600.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6689,48511113,157115,1571,Georgia Military College - Eastman,Eastman,GA,310236109,0,14,0,0,1,13,5,0.689655,2559.643511,6165.000000,19301.696419,40435.297914,1
6690,48616901,4204801,42048,American College of Barbering - Florence,Florence,KY,410421801,0,2,0,0,3,21,5,0.689655,2559.643511,15761.590459,19301.696419,40435.297914,3
6691,49005401,4182601,41826,HCI College - Fort Lauderdale Campus,Fort Lauderdale,FL,33309,0,2,0,0,3,12,5,0.689655,2559.643511,19404.000000,19301.696419,40435.297914,2
6692,49146401,4227001,42270,ABC Adult School - Cabrillo Lane,Cerritos,CA,907037748,0,2,0,0,1,6,8,0.689655,2559.643511,15761.590459,19301.696419,40435.297914,3
6693,49175601,4270001,42700,Urban Barber College - San Jose,San Jose,CA,95133,0,2,0,0,3,6,8,0.689655,2559.643511,15761.590459,19301.696419,40435.297914,3

In [146]:
df_new['Year'] = pd.Period('2010',freq='Y')

In [147]:
def read_cs_data(year,col_dtypes,datadir):
    """read a CollegeScorecard dataframe"""
    nextyr = str(int(year) + 1)[-2:]
    filename = datadir + '/MERGED{}_{}_PP.csv'.format(year,nextyr)
    col = pd.read_csv(filename,na_values='PrivacySuppressed',
                      dtype=col_dtypes,usecols=col_dtypes.keys())
    col['Year'] = pd.Period(str(int(year) + 1),freq='Y')
    return col

In [148]:
col = pd.concat((read_cs_data(str(y),col_dtypes,datadir) for y in range(1996,2017)))
col = col.set_index(['UNITID','Year'])

TypeError: dtype 'UNITID               int64
OPEID              float64
OPEID6             float64
INSTNM              object
CITY                object
STABBR              object
ZIP                 object
MAIN               float64
NUMBRANCH          float64
PREDDEG            float64
HIGHDEG            float64
CONTROL            float64
ST_FIPS            float64
REGION             float64
ADM_RATE           float64
UGDS               float64
TUITIONFEE_IN      float64
TUITIONFEE_OUT     float64
MN_EARN_WNE_P10    float64
ICLEVEL            float64
dtype: object' not understood